In [1]:
import tradingeconomics as te

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

import os
os.chdir('..')
from helper import get_api_key

In [ ]:
te.login(get_api_key())

In [4]:
aaple_data = te.fetchMarkets(symbol= 'aapl:us', initDate='2020-01-01', output_type='df')
aaple_data

             symbol      open       high       low      close
2021-04-30  AAPL:US  131.7800  133.50999  131.3600  132.89999
2021-04-29  AAPL:US  136.4700  137.07000  132.4500  133.48000
2021-04-28  AAPL:US  134.3100  135.02000  133.0800  133.58000
2021-04-27  AAPL:US  135.0100  135.41000  134.1100  134.39000
2021-04-26  AAPL:US  134.8300  135.06000  133.5600  134.72000
...             ...       ...        ...       ...        ...
2020-01-08  AAPL:US   74.2900   76.10998   74.2890   75.79750
2020-01-07  AAPL:US   74.9600   75.22500   74.3700   74.59750
2020-01-06  AAPL:US   73.4475   74.99000   73.1875   74.95000
2020-01-03  AAPL:US   74.2875   75.14500   74.1250   74.35750
2020-01-02  AAPL:US   74.0600   75.15000   73.7975   75.08750

[335 rows x 5 columns]

In [5]:
apple_forecast = te.getMarketsForecasts(symbol='aapl:us', output_type='df')
apple_forecast

,Symbol,Country,Date,Type,Last,Url,Importance,Forecast1,Forecast2,Forecast3,Forecast4
0,AAPL:US,United States,2021-04-30T16:06:00,stocks,132.9,NaN,500,130.863792,128.298862,125.784204,123.318834